@model FinalYearProject.Models.PostViewModel

@{
    ViewBag.Title = "Add Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>



@using (Html.BeginForm("AddNewPost", "Blog", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="editPostContainer">
        <table>
            <tr>
                <td>Id :</td>
                <td colspan="2" class="editPostId">@Html.TextBoxFor(m => m.ID, new { @class = "editPostIdInp", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>Title :</td>
                <td colspan="2" class="editPostTitle">@Html.TextBoxFor(m => m.Title, new { @class = "editPostTitleInp" })
                @Html.ValidationMessageFor(m => m.Title)
                </td>
            </tr>
            <!-- <tr>
                <td>Meta :</td>
                <td colspan="2">@Html.TextBoxFor(m => m.Meta, new { @class = "editPostMeta" })</td>
            </tr> -->
            <!--
            <tr>
                <td>UrlSeo :</td>
                <td colspan="2">@Html.TextBoxFor(m => m.UrlSeo, new { @class = "editPostSeo", @readonly = "readonly" })
                </td>
            </tr> -->
            <tr>
                <td>ShortDescription :</td>
                <td colspan="2" class="editPostDesc">
                    @Html.TextAreaFor(m => m.ShortDescription, new { @id = "editor1", Value = @Model.ShortDescription })
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                </td>
            </tr>
            <tr>
                <td>Body :</td>
                <td colspan="2" class="editPostBody">
                    @Html.TextAreaFor(m => m.Body, new { @id = "editor2", Value = @Model.Body })
                    <script>
                        CKEDITOR.replace('editor2');
                       
                    </script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" class="editPostBody"><input class="comTextBtn" type="submit" value="&#x27a5;" /></td>
            </tr>
        </table>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")